td.details-control {
    cursor: pointer;
}

.fa_color {
    color: red;
}

.fa_Size {
    font-size: 17px;
    padding-left: 3px;
}

.mb-10 {
    margin-bottom: 10px;
}

.logo_side_bar {
    width: 80%;
    padding: 10px;
}

.login_right_side_background {
    /* The image used */
    background-image: url("../images/ezgif-4-52e17310f8d0.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
}

tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

.expand_header {
    font-weight: bolder;
}

.expand_margin {
    margin-left: 18px;
}

.date_range_label {
    font-weight: bolder;
}

.card_pointer {
    cursor: pointer;
}

#filter_date_err_msg {
    font-size: 12px;
    color: red;
}

.cam_css {
    width: 100%;
}

.registration_msg {
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
}

.clearcrn_msg {
    text-align: center;
    font-size: 13px;
}

.img_border_pass {
    border: 5px solid green;
}

.img_border_fail {
    border: 5px solid red;
}

.verify_msg {
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
}

#capture_img_btn {
    background: #013567;
    color: white;
    width: 56%;
}

#register_btn {
    background: #013567;
    color: white;
    width: 46%;
}

#capture_img_btn_verify {
    background: #013567;
    color: white;
    width: 56%;
}

#validate_crn_btn {
    background: #013567;
    color: white;
}

#capture_img_btn_clearcrn {
    background: #013567;
    color: white;
    width: 40%;
}

#gesture_submit {
    background: #013567;
    color: white;
    width: 50%;
}

    #gesture_submit:disabled {
        background: #dddddd;
        color: black;
    }

#capture_img_btn:disabled {
    background: #dddddd;
    color: black;
}

#capture_img_btn_verify:disabled {
    background: #dddddd;
    color: black;
}

#gesture_icon {
    cursor: pointer;
}

.align_center {
    text-align: center;
    cursor: pointer;
}

.json_td_length {
    min-width: 320px;
    margin-bottom: 0px;
    font-size: 10px;
}

.text_font {
    font-size: 12px;
}

#SecondsUntilExpire {
    background-color: yellow;
    display: none;
}

#okay_btn {
    background: #013567;
    color: white;
}

.add_new_btn {
    border-radius: 25px;
    padding-left: 22px;
    padding-right: 22px;
}

.kotak_sub_header {
    background: #f3f3f3;
}

.tab_active {
    background-color: #013567;
    border-radius: 25px;
}

.breadcrumb_btn {
    border-radius: 25px;
    color: black;
    background: #cccccc;
}

.body_bg {
    background: #ffffff;
}

.crn_link {
    cursor: pointer;
    color: red;
    font-weight: bolder;
    background: transparent;
    padding-left: 0px;
}

.gesture_link {
    cursor: pointer;
    font-weight: bolder;
    background: transparent;
    padding-left: 0px;
}

.users_link {
    cursor: pointer;
    font-weight: bolder;
    background: transparent;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 14px;
}

.facearm_modal_header {
    background-color: #013567;
    color: #ffffff;
    border-bottom: 1px solid #013567;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}

.facearm_modal_content {
    border: 2px solid #013567;
}

.modal_close_btn {
    color: #ffffff;
}

    .modal_close_btn:hover {
        color: #ffffff;
    }

.approve_btn {
    background: red;
    color: white;
    border: solid 1px red;
    cursor: pointer;
    font-size: 12px;
}

    .approve_btn:disabled {
        background: grey;
        color: white;
        border: solid 1px red;
        cursor: pointer;
        font-size: 12px;
    }

    .approve_btn:hover {
        background: red;
        color: white;
        border: solid 1px red;
        cursor: pointer;
        font-size: 12px;
    }

.reject_btn {
    background: #f3f3f3;
    color: red;
    border: solid 1px red;
    font-size: 12px;
}

    .reject_btn:disabled {
        background: #f3f3f3;
        color: white !important;
        border: solid 1px red;
        font-size: 12px;
    }

    .reject_btn:hover {
        background: #f3f3f3;
        color: red !important;
        border: solid 1px red;
        font-size: 12px;
    }

.cancel_btn {
    background: #f3f3f3;
    color: red;
    font-size: 12px;
}

    .cancel_btn:disabled {
        background: #f3f3f3;
        color: white !important;
        font-size: 12px;
    }

    .cancel_btn:hover {
        background: #f3f3f3;
        color: red !important;
        font-size: 12px;
    }

.add_page_header {
    padding: 25px 42px 15px;
}

.total_count_align {
    margin-left: 30px;
}

.modal_msg {
    text-align: center;
    font-size: 12px;
}

.prompt_message {
    font-weight: 400;
}
/*toggle button css*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #013567;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

#OpenImgUpload {
    cursor: pointer;
}

#add_gesture_management_msg {
    text-align: center;
    font-size: 13px;
}

.login_btn {
    background: red;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    width: 80%;
    text-align: center;
    font-size: 14px;
    margin-top: 45px;
}

    .login_btn:disabled {
        background: #c83636;
        text-transform: uppercase;
        color: white;
        font-weight: 600;
        width: 80%;
        text-align: center;
        font-size: 14px;
        margin-top: 45px;
    }

.forget_password_link {
    text-align: center;
    margin-top: 30px;
}

    .forget_password_link:hover {
        color: #f3f3f3;
        text-align: center;
    }

.dashboard_card {
    /*margin-top: -55px;*/
    margin-top: 15px;
    padding-left: 25px;
}

.registration_top {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    border-top: solid 1px red;
    border-left: solid 1px red;
    border-right: solid 1px red;
    border-radius: 0px;
}

.verifcation_top {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    border-top: solid 1px red;
    border-left: solid 1px red;
    border-right: solid 1px red;
    border-radius: 0px;
}

.inactive {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px red;
    border-radius: 0px;
}

.registration_top {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    border-top: solid 1px red;
    border-left: solid 1px red;
    border-right: solid 1px red;
    border-radius: 0px;
}

.filter_dropdown {
    z-index: 999999;
}

.dashboard_card_bottom {
    width: 100%;
}

.dashboard_card_right {
    padding: 15px 115px;
}

.total_margin {
    margin-left: -13px !important;
}

.text_black {
    color: black;
}

.text_blue {
    color: #013567;
}

.f_s_19 {
    font-size: 19px !important;
}

.vl {
    border-left: 1px solid #aab0aa;
    height: 50px;
}

.reg_img {
    cursor: pointer;
}

#c3-chart {
    width: 100%;
}

.upload_gesture_icon {
    cursor: pointer;
}

.index_err_msg {
    text-align: center;
    font-size: 12px;
}

#reg-week-c3-chart {
    width: 100% !important;
}

.card_right_margin {
    margin-right: 35px;
}

.nav_padding {
    padding: 8px 259px;
}

.nav-tabs {
    border-bottom: 1px solid #013567;
}

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #495057;
        background-color: #fff;
        border-color: #013567 #013567 #fff;
    }

.filter_dropdown_btn {
    color: #fff;
    background: #013567;
}

    .filter_dropdown_btn:hover {
        color: #fff;
        background: #013567;
    }

.padding_right_top {
    padding-right: 0px;
}

.padding_left_top {
    padding-left: 0px;
}

.header_text {
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #fff;
}

.header_active {
    background: linear-gradient(60deg, #ef5350, #e53935);
    color: #fff;
}

.modal-footer {
    background: #f3f3f3 !important;
}

.legend {
    border: 8px solid rgba(0, 0, 0, .2);
    border-top: 0px solid red;
    border-bottom: 0px solid red;
}

.legend_netbanking {
    background: #ffa726;
}

.legend_branch {
    background: #43a047;
}

.legend_android {
    background: #ef5350;
}

.legend_ios {
    background: #00acc1;
}

.borderless td, .borderless th {
    border: none;
}

.failure_text_align {
    float: left;
    margin-bottom: 0px !important;
}

.card_margin {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.card_padding {
    padding: 0px !important;
}

th {
    text-align: left !important;
}

.btn_border {
    border: solid 1px #e53935 !important;
    background: transparent;
}

    .btn_border:hover {
        border: solid 1px #e53935 !important;
        background: transparent;
    }

    .btn_border:active {
        border: solid 1px #e53935 !important;
        background: transparent !important;
    }

.btn_bg {
    background: linear-gradient(60deg, #ef5350, #e53935);
    color: #ffffff;
}

    .btn_bg:hover {
        background: linear-gradient(60deg, #ef5350, #e53935);
        color: #ffffff;
    }

    .btn_bg:active {
        background: linear-gradient(60deg, #ef5350, #e53935) !important;
        color: #ffffff !important;
    }

.btn_dropdown {
    background: linear-gradient(60deg, #ef5350, #e53935);
    color: #ffffff;
    border: solid 1px #e53935 !important;
}

    .btn_dropdown:hover {
        background: linear-gradient(60deg, #ef5350, #e53935);
        color: #ffffff;
        border: solid 1px #e53935 !important;
    }

.top_header {
    padding: 15px;
}

    .top_header h1 {
        font-weight: bolder;
    }

    .top_header h2 {
        font-weight: bolder;
        color: #a3d9af;
    }

    .top_header p {
        font-weight: bolder;
        color: #22b14c;
    }

.db_header {
    font-size: 20px !important;
    font-weight: bolder !important;
    text-decoration: underline;
}

.db_content {
    font-size: 30px !important;
    font-weight: bolder !important;
}

.db_content_sm {
    font-size: 18px !important;
    font-weight: bolder !important;
}

.db_text_red {
    color: #ed1c24;
}

.db_text_blue {
    color: #00a2e8;
}

.db_text_green {
    color: #22b14c;
}

.db_text_grey {
    color: #957f7f;
}

.db_text_pink {
    color: #ed1cc8
}

.db_text_red_light {
    color: #ff6b89;
}

.db_text_blue_light {
    color: #67b0ff;
}

.db_text_green_light {
    color: #7fca8f;
}

.db_text_grey_light {
    color: #a7acb1;
}

.db_cell_width {
    max-width: 80px;
    min-width: 80px;
}

.db_filter_label {
    color: #000 !important;
    font-size: 20px !important;
    margin-top: 15px;
}

.db_filter_control {
    margin-top: 12px;
}

@media screen and (max-width: 767px) {
    .login_right_side_background {
        /* The image used */
        background-image: url("../images/ezgif-4-52e17310f8d0.jpg");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: inherit;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 265px;
    }

    .total_Card {
        margin-left: 0px !important;
    }
}

@media screen and (max-width: 411px) {
    .user_image_width {
        width: 44%;
    }
}

@media screen and (max-width: 360px) {
    .user_image_width {
        width: 36%;
    }
}





.logo_side_bar {
    width: 80%;
    padding: 10px;
}
