<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Kotak Mahindra Bank">
    <meta name="keywords" content="Kotak Mahindra Bank">
    <title>Kotak Mahindra Bank</title>
    <!-- Site favicon -->
    <link rel='shortcut icon' type='image/x-icon' href='~/Audit_assets/images/kotak_favicon.ico' />
    <!-- /site favicon -->
    <!-- Font Material stylesheet -->
    <link href="~/Audit_assets/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css" rel="stylesheet" />
    
    <!-- Bootstrap stylesheet -->
    <link rel="stylesheet" href="~/Audit_assets/css/jumbo-bootstrap.css">
    
    <!-- Perfect Scrollbar stylesheet -->
    <link href="~/Audit_assets/node_modules/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    <!-- /perfect scrollbar stylesheet -->
    <!-- kotak-core stylesheet -->
    <link href="~/Audit_assets/css/kotak-core.min.css" rel="stylesheet" />
    <!-- /kotak-core stylesheet -->
    <!-- Color-Theme stylesheet -->
    <link href="~/Audit_assets/css/theme-dark-indigo.css" rel="stylesheet" />
    <!-- Color-Theme stylesheet -->
    <!-- Custom stylesheet -->
    <link href="~/Audit_assets/css/user_style.css" rel="stylesheet" />
    <!-- /Custom stylesheet -->
</head>
<body id="body" data-theme="dark-indigo">

    <!-- Loader Backdrop -->
    <div class="loader-backdrop">
        <!-- Loader -->
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
            </svg>
        </div>
        <!-- /loader-->
    </div>
    <!-- loader backdrop -->
    <!-- Page container -->
    <div class="gx-container">
        <!-- Page Sidebar -->
        <div id="menu" class="side-nav gx-sidebar">
            <div class="navbar-expand-lg">
                <!-- Sidebar header  -->
                <div class="sidebar-header">
                    <div class="user-profile">
                        <img class="img-responsive logo_side_bar" alt="Kotak_Logo" src="~/Audit_assets/images/logo_side_bar.png">
                    </div>
                </div>
                <!-- /sidebar header -->
                <!-- Main navigation -->
                <div id="main-menu" class="main-menu navbar-collapse collapse">
                    <ul class="nav-menu">
                        <li class="menu no-arrow">
                            <a href="/Home/Dashboard/">
                                <span class="nav-text">Dashboard Success Report</span>
                            </a>
                        </li>
                        <li class="menu no-arrow">
                            <a href="/Home/Dashboard_Failure/">
                                <span class="nav-text">Dashboard Failure Report</span>
                            </a>
                        </li>
                        <li class="menu no-arrow">
                            <a href="/Home/Index/">
                                <span class="nav-text">Audit Log</span>
                            </a>
                        </li>
                        <li class="menu no-arrow selected">
                            <a href="/Home/Clearcrn/">
                                <span class="nav-text">Clear CRN</span>
                            </a>
                        </li>                        
                    </ul>
                </div>
                <!-- /main navigation -->
            </div>
        </div>
        <!-- /page sidebar -->
        <!-- Main Container -->
        <div class="gx-main-container">
            <!-- Main Header -->
            <header class="main-header">
                <div class="gx-toolbar">
                    <div class="sidebar-mobile-menu d-block d-lg-none">
                        <a class="gx-menu-icon menu-toggle" href="#menu">
                            <span class="menu-icon"></span>
                        </a>
                    </div>
                    <div class="search-bar right-side-icon bg-transparent d-none d-sm-block">                        
                    </div>
                    <ul class="quick-menu header-notifications ml-auto">                        
                        <li class="dropdown">
                            <a href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" class="d-inline-block" aria-expanded="true">
                                <div class="user-thumb">
                                    <img alt="Domnic Brown" src="~/Audit_assets/images/domnic-brown.jpg"
                                         class="rounded-circle size-40 user-avatar">
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" data-placement="bottom-end" data-x-out-of-boundaries="">
                                <div class="dropdown-menu-perfectscrollbar1">
                                    <div class="messages-list">
                                        <ul class="list-unstyled">
                                            <li class="media">
                                                <div class="user-thumb">
                                                    <i class="fa fa-lock fa_color"></i>
                                                </div>
                                                <div class="media-body">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <h4 class="text-capitalize user-name mb-0">
                                                            <button id="logout_btn">Logout</button>
                                                        </h4>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            <!-- /main header -->
            <!-- Main Content -->
            <div class="kotak-main-content">
                <div class="gx-wrapper">
                    <div class="animated slideInUpTiny animation-duration-3">
                        <!--Registration Breadcrumbs start-->
                        <div class="page-heading d-sm-flex justify-content-sm-between align-items-sm-center">
                            <h2 class="title mb-3 mb-sm-0">Clear CRN</h2>
                            <nav class="mb-0 breadcrumb">
                                <a href="/Home/Dashboard" class="breadcrumb-item">Home</a>
                                <a href="/Home/Clearcrn" class="breadcrumb-item">Clear CRN</a>
                            </nav>
                        </div>
                        <!--Get the OS and Browser details-->
                        <input type="hidden" value="" id="os_details" />
                        <input type="hidden" value="" id="browser_details" />
                        <!--Get the PID & count details-->
                        <input type="hidden" value="0" id="PID" />
                        <input type="hidden" value="-1" id="send_count" />
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="gx-card">
                                    <div class="gx-card-body">
                                        <div class="row">
                                            <div class="offset-md-4 col-md-4 offset-md-4 offset-sm-4 col-sm-4 offset-sm-4">
                                                <div class="form-group">
                                                    <label for="crn_number">CRN</label>
                                                    <input type="text" class="form-control" id="crn_number"
                                                           aria-describedby="emailHelp" placeholder="Enter CRN Number" maxlength="20">
                                                </div>
                                                <center><button type="button" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Loading.." class="btn" id="capture_img_btn_clearcrn">Clear</button></center>
                                                <p id="clearcrn_msg" class="clearcrn_msg"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/gx-wrapper-->
                <div id="alert_popup_div"></div>
                <span id="SecondsUntilExpire"></span>
                <!-- Footer -->
                <footer class="gx-footer page_header">
                    <div class="d-flex flex-row justify-content-between">
                        <p> Copyright Kotak Mahindra Bank Limited. © 2019</p>
                    </div>
                </footer>
                <!-- /footer -->
            </div>
            <!-- /main content -->
        </div>
        <!-- /main container -->
    </div>
    <!-- /page container -->
    <!-- Menu Backdrop -->
    <div class="menu-backdrop fade"></div>
    <!-- /menu backdrop -->
    <!--Load JQuery-->
    <script src="~/Audit_assets/node_modules/jquery/dist/jquery.min.js"></script>

    <!--Bootstrap JQuery-->
    <script src="~/Audit_assets/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!--Perfect Scrollbar JQuery-->
    <script src="~/Audit_assets/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>

    <!--Big Slide JQuery-->
    <script src="~/Audit_assets/node_modules/bigslide/dist/bigSlide.min.js"></script>

    <!--Custom JQuery-->
    <script src="~/Audit_assets/js/functions.js"></script>
    
    <!--Registration JS-->
    <script src="~/Audit_assets/js/clearcrn.js"></script>

    <!--JS Common functions-->
    <script src="~/Audit_assets/js/js_common_functions.js"></script>
</body>
</html>